@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>
    @Html.Partial("_HeaderPartial")

<div class="row">
    <div class="col-md-6">
        <h2>ICC Cricket World Cup</h2>
        <p>The ICC Cricket World Cup is the international championship of One Day International (ODI) cricket.</p>
        <p>The tournament is one of the world's most viewed and followed sporting events.</p>
        <p>It is held every four years and features teams from all around the world competing for the title.</p>
    </div>
</div>
</main>